Update to RFC6120/RFC6121

I found the following tasks to fully comply with RFC6120/RFC6121 by reading the 'Differences from RFC3920/RFC3921' appendices. (I didn't read through the whole RFCs, possible features that missed before are not included)

### RFC6120
- [x] QXmppStanza::Error:
  - [x] Remove/Deprecate `payment-required` condition (PR #277)
  - [x] Add missing `policy-violation` condition (PR #279)
  - [x] Add parsing for optional redirect URI for `gone` and `redirect` conditions (PR #280)
  - [x] Add new optional `by` attribute (PR #283)

### RFC6121
- [ ] Optional Roster Versioning
  - [ ] Add manager support (Issue #164)
  - [ ] Add stream feature
- [x] Pre-approved presence subscription (PR #285)
  - [x] stream feature
  - [x] roster item approved attribute
  - [x] rostermanager?
- [x] Add parent attribute for &lt;thread/&gt; (PR #284)


Since roster versioning is only optional, we can close this issue already. (That doesn't mean I don't want to implement it)